.image-container {
    display: flex;
    position: relative;
    
    justify-content: center;
    align-items: center;

    justify-self: center;
    align-self: center;

    grid-row: 2 / 3;
    grid-column: 2 / 3;

    width: 1500px;
    height: 666px;
}

#waldo-image {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border: 3px solid grey;
}

.image-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(218, 218, 218, 0.95);
    z-index: 1;
}

#start-game {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 600;

    background: rgb(168, 188, 243);
    border: 2px solid #ffffff;
    color: rgb(244, 255, 85);

    width: 120px;
    height: 50px;
    cursor: pointer;
}

#start-game:hover {
    background: white;
    border: 2px solid blue;
    color: blue;
    transition: all 500ms ease;
}

.cover {
    width: 100%;
    height: 100%;
}

.uncover {
    width: 0%;
    height: 0%;
}

#mew-box, #abra-box, #ponyta-box, #eevee-box {
    position: absolute;
    background: rgb(255, 0, 0, 0.5);
}

#mew-box {
    right: 30%;
    top: 0;
    height: 17%;
    width: 9%;
}

#abra-box {
    bottom: 21%;
    left: 43%;
    height: 14%;
    width: 5%;
}

#ponyta-box {
    bottom: 33%;
    left: 33%;
    height: 13%;
    width: 8%;
}

#eevee-box {
    right: 0;
    top: 20%;
    height: 12%;
    width: 5%;
}